.bigicon {
    color: white;
    margin-top: 8px;
    margin-bottom: 5px;
}

.icontext {
    color: white;
    overflow: hidden;
}

.bigicondark {
    font-size: 67px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontextdark {
    color: black;
    font-size: 20px;
}

.underline{
    padding-bottom:20px;
    border-bottom: 1px solid #454545;
    margin-bottom: 20px;
}

.tile {
    background: #c71900;
    margin: 15px 0;
    border-radius: 5px;
}

.tile:hover {
    opacity: .7;
    cursor: pointer;
    cursor: hand;
}

html,body {
    height:100%;
}

h1 {
    font-family: 'trebuchet ms', verdana, arial;
    color: #20a1ff;
}

@media only screen
and (min-width: 800px) {
    h1 {
        font-size:40px;
    }
}

@media only screen
and (min-width: 400px)
and (max-width: 800px){
    h1 {
        font-size:25px;
    }
}

@media only screen
and (min-width: 350px)
and (max-width: 400px){
    h1 {
        font-size:20px;
    }
}

@media only screen
and (max-width: 350px) {
    h1 {
        font-size:15px;
    }
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height:100%;
    background-color:#110022;
    color:#eee;
    overflow:hidden;
}

.container-full a {
    color:#efefef;
    text-decoration:none;
}

.v-center {
    margin-top:7%;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #20a1ff;
    font-weight: 400;
    display: block;
}

@media only screen
and (min-width: 400px) {
    .login-title {
        font-size: 18px;
    }
}

@media only screen
and (max-width: 400px) {
    .login-title {
        font-size:14px;
    }
}

.profile-img
{
    width: 96px;
    height: 96px;
    font-size: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #20a1ff;
}

#help-addon{
    color: black;
    cursor: hand;
    cursor: pointer;
}

.popover{
    color: black;
}

#help-addon .fa{
    font-size: large;
}

.sign-in{
    position: absolute;
}

.sign-in-button{
    margin-top: 25px;
}

.homepage{
    visibility: hidden;
}

.add-job-button{
    position: fixed;
    margin: 20px;
    right: 0;
    top: 0;
    z-index: 2;
}

.add-job-button .fa{
    font-size: 50px;
}

@media only screen
and (max-width: 1024px) {
    .instructions {
        -webkit-transform: translateZ(0px);
        margin: 200px 0;
        z-index: 1;
    }
}

@media only screen
and (min-width: 1024px) {
    .instructions {
        -webkit-transform: translateZ(0px);
        margin: 200px 80px;
        z-index: 1;
    }
}

.instructions p strong{
    color: #20a1ff;
}

.modal{
    color: #000000;
}

#signinError{
    color: red;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}
#getDataError{
    color: red;
    text-align: center;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

#getDataError .message{
    color: #000000;
}