<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title></title>
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container container-full">
    <div class="row">
        <div class="homepage">
            <button id="addJobBtn" class="add-job-button btn btn-primary"><i class="fa fa-plus"></i></button>
            <div class="col-xs-6">
                <h1 class="underline">Open GNIP Jobs</h1>
                <div class="dynamicTileContainer">
                    <div class="dynamicTile">

                    </div>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Job Data</h4>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="addJobModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Job Data</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-1 control-label">Title</label>

                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="title" placeholder="Title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="west" class="col-sm-1 control-label">West</label>

                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="west" placeholder="-78.54">
                                        </div>
                                        <label for="east" class="col-sm-1 control-label">East</label>

                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="east" placeholder="-78.18">
                                        </div>
                                        <label for="north" class="col-sm-1 control-label">North</label>

                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="north" placeholder="43.33">
                                        </div>
                                        <label for="south" class="col-sm-1 control-label">South</label>

                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="south" placeholder="43.01">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="from" class="col-sm-1 control-label">From</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="from"
                                                   placeholder="201507010000">
                                        </div>
                                        <label for="to" class="col-sm-1 control-label">To</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="to" placeholder="201507010010">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#keywords-panel"><i class="fa fa-plus-circle"></i>  Add Keywords</button>
                                        </div>
                                    </div>
                                    <div id="keywords-panel" class="collapse">
                                        <div class="form-group row">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <label for="keywords">Keywords</label>
                                                <textarea class="form-control" rows="5" id="keywords" placeholder="(happy OR party) (holiday OR house) -(birthday OR democratic OR republican)"></textarea>
                                                <p>You can <strong>AND</strong> keywords with spaces: <code>keyword1 keyword2</code></p>
                                                <p>You can <strong>OR</strong> keywords with OR: <code>keyword1 OR keyword2</code></p>
                                                <p>You can <strong>NOT</strong> keywords with a dash: <code>-keyword</code></p>
                                                <p>You can <strong>group</strong> keywords with parentheses: <code>(happy OR party) (holiday OR house) -(birthday OR democratic OR republican)</code></p>
                                                <p>You can <strong>exact match</strong> with backslash quotation marks: <code>\"keyword1 keyword2\"</code></p>
                                                <p>You can <strong>substring match</strong> with contains: <code>contains:keyword</code>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class=" col-sm-4 col-sm-offset-4">
                                        <button id="getDataBtn" class="btn btn-primary btn-block">Get Twitter Data</button>
                                    </div>
                                    <p class="col-sm-8 col-sm-offset-2 text-center" id="getDataError"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="instructions">
                    <h3>How to Use</h3>
                    <hr>
                    <p><strong>Click the plus button on the top right to create a new GNIP job</strong> (i.e. to retrieve historic Twitter data based on a new set of location, timeframe, and keywords).</p>
                    <p><strong>Click on a job to the left to get more info</strong>, or to accept or reject if the job is quoted, or to download the associated Twitter data files if the job is at 100%.</p>
                </div>
            </div>
        </div>
        <div class="sign-in col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
            <h1 class="text-center login-title">Please sign in with your GNIP account</h1>
            <div class="account-wall">
                <i class="profile-img fa fa-twitter"></i>
                <form class="form-signin">
                    <input id="account" type="text" class="form-control" placeholder="Account" name="account" required autofocus>
                    <input id="username" type="text" class="form-control" placeholder="Username" required>
                    <input id="password" type="password" class="form-control" placeholder="Password" required>
                    <button type="submit" class="submit btn btn-lg btn-primary btn-block sign-in-button">Sign in</button>
                    <!--<label class="checkbox pull-left">-->
                    <!--<input type="checkbox" value="remember-me">-->
                    <!--Remember me-->
                    <!--</label>-->
                    <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                    <p id="signinError"></p>
                </form>
            </div>
            <!--<a href="#" class="text-center new-account">Create an account </a>-->
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="static/css/main.css">

</body>
</html>